<html>
<head>
   <meta charset="utf-8" /> 
   <link rel="stylesheet" href="/static/css/test_colonne.css" />
    <title>Alphasat Database {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style_website.css" />
    <link rel="stylesheet" type="text/css" href="/static/js/jquery_easyui/themes/default/style_website_2.css">
    <link rel="stylesheet" type="text/css" href="/static/js/jquery_easyui/themes/bootstrap/tree.css">
	<link rel="stylesheet" type="text/css" href="/static/js/jquery_easyui/themes/icon.css">
	<script type="text/javascript" src="/static/js/jquery_easyui/jquery.min.js"></script>
	<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>-->
	<script type="text/javascript" src="/static/js/jquery_easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery_easyui/extensions/datagrid-filter.js"></script>
<!--
	<link rel="stylesheet" href="/static/js/jquery_easyui/themes/bootstrap/bootstrap.min.css">	
-->
	<!-- Block à voir pour conserver les lignes -->
	<!--<script src="/static/js/jquery/jquery.js"></script>
    <script src="/static/js/jquery-ui/jquery-ui.js"></script>-->
<!--
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
-->
<!--
	<script type="text/javascript">

		//~ function(){
			//~ $('.btn').button();
		//~ });

	</script>-->
<!--
	<link rel="stylesheet" href="/static/js/jquery_easyui/themes/bootstrap/bootstrap.min.css" />
-->

	<!-- Fin du block -->
    {% block head %}{% endblock %}
</head>
<body>
<div role="main" class="container">
    <div class="header" style="border-bottom: 1px solid #e5e5e5;width:1250px;height:450px;">
        <ul>
            <a  class="myButton" href="/list/Taxon">New search</a>
            <a  class="myButton" href="/alphasat/help_and_documentation">Help and documentation</a>
            <a  class="myButton" href="/alphasat/contact">Contact</a>
        </ul>
		<div style="width:1250px;height:50px;">
		</div>
		<h3 class="title_site">
			<a  href="http://www.mnhn.fr/fr" style="text-decoration:none;">
			<img src="/static/pictures/Logo_mnhn.jpg" alt="MNHN" />
			</a>
			<a class="main_title" href="/alphasat/accueil" style="text-decoration:none;"> Muséum national d'Histoire naturelle - Alphasat Database </a>
		</h3>
		<div style="width:1250px;height:50px;">
		</div>
		<div id="div2" style="width:200px;height:50px;">
		</div>
		<img id="img1" src="/static/pictures/schema_all_final.png" alt="schema"/>
		<div id="div1" style="width:150px;height:50px;">
		</div>	
		<img id="img2" src="/static/pictures/phase_2.png" alt="phase"/>	
    </div>
</div>
    {% block content %}{% endblock %}
</body>
</html>
