{% extends "base.html" %}

{% block title %}Taxon selection{% endblock %}

{% block head %}
	<script type="text/javascript">
    var _chromosome_selection = [];
    var _sequence_selection = [];
    var _block_selection = [];
    var _monomer_selection = [];
    var _monomer_list = [];
    var _search_data = {};
    var _block_length = '{{ block_length }}';
    console.log(_block_length);
    var _phase = '{{ phase }}';
    console.log(_phase);
    var _monomer_length = '{{ monomer_length }}';
    console.log(_monomer_length);
    var _monomer_position = '{{ monomer_position}}';
    console.log(_monomer_position);
    $(handle_buttons);
       
	function updateChromosomeAndTaxonSelection(taxon_tree){
				_chromosome_selection = $(taxon_tree).tree('getChecked');
				console.log(_chromosome_selection);
				var url_list = [];
				for(i in _chromosome_selection){
						sid = _chromosome_selection[i]['id'];
						spl = sid.split('_');
						//recuperer la derniere table de la selection
						t = spl[0];
						url_list.push(sid);
				}
				refreshSequence(url_list);
			}
	function updateSequenceSelection(sequence_dgb){
				 _sequence_selection = $(sequence_dgb).datagrid('getChecked');
				console.log(_sequence_selection);
				var url_list = [];
				for(i in _sequence_selection){
						sid = _sequence_selection[i]['sequence_id'];
						console.log(sid)
						url_list.push(sid);
				}
				refreshBlock(url_list);
			}
	function refreshSequence(url_list){
 				var dgs = $('#dgs').datagrid('load',{
					selection: url_list,
					search : _search_data
				});
				refreshBlock();
			}
	function refreshBlock(url_list){
				var dgb = $('#dgb').datagrid('load',{
				selection: url_list
				});
				refreshFamily();
				refreshMonomer();
			}
    </script>

{% endblock %}

{% block content %}
    <form name = "taxons" action="/results" method="POST" id = "taxons_data">
		<div style="margin:20px 0;"></div>
		<div class="easyui-panel" style="padding:5px"><!-- cadre -->
			<div id="el" class="easyui-layout" style="width:1200px;height:900px;">
<!--
				<ul id="ft" name="family" class="easyui-tree" data-options="url:'/family_tree',cascadeCheck:true" checkbox="true" method="get">
				</ul>
-->
				<div data-options="region:'south',title:'South Title',split:true" style="height:200px;">
					<div class="easyui-panel" title="Results" style="width:300px;padding:10px;" data-options="href:'/results'">
					</div>				
				</div>
				<div data-options="region:'east',title:'East',split:true" style="width:300px;">
					<div class="easyui-panel" title="Optional parameters" style="width:300px;padding:10px;" data-options="href:'/search_form'">
					</div>
				</div>
				<div data-options="region:'west',title:'Tree',split:true" style="width:300px;">
					<div class="demo-info" style="margin-bottom:10px">
						<ul id="tt" name="taxons" class="easyui-tree" data-options="url:'/tree',cascadeCheck:true" checkbox="true" method="get">
						</ul>
					</div>
				</div>
				<div data-options="region:'center',title:'Selection',split:true" style="padding:5px;background:#eee;">
					<div class="demo-info" style="margin-bottom:10px"></div>
					<div class="easyui-panel" style="padding:5px"><!-- cadre -->
						<table id="dgs" class="easyui-datagrid" title="Sequences" style="width:auto;height:auto" singleSelect = "false" collapsible = "true" url = "/datagrid_sequences" method = "get" rownumbers = "true" pagination = "true" pageSize = "10" autoRowHeight = "false" idField = "sequence_id" multiSort = "true" remoteSort = "false" sortOrder = "desc">
							<thead>
								<tr>
									<th data-options="field:'cbx1',checkbox:true"></th>
									<th data-options="field:'taxon_name',width:80,align:'center',sortable:true">Taxon</th>
									<th data-options="field:'chromosome_name',width:80,align:'center',sortable:true">Chromosome</th>
									<th data-options="field:'sequence_name',width:100,align:'center',sortable:true">Sequence</th>						
									<th data-options="field:'sequence_length',width:80,align:'center',sortable:true">length</th>
									<th data-options="field:'number_blocks',width:80,align:'center',sortable:true">Blocks</th>
									<th data-options="field:'number_monomers',width:80,align:'center',sortable:true">Monomers</th>
								</tr>
							</thead>
						</table>
						<script>
						$(function(){
							var dgs = $('#dgs').datagrid();
							dgs.datagrid('enableFilter', [{
								field:'sequence_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'taxon_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								}]);
							});
						</script>
						<table id="dgb" class="easyui-datagrid" title="Blocks" style="width:auto;height:auto" singleSelect=false collapsible=true url="/datagrid_blocks" method="get" rownumbers=true pagination=true pageSize=10 autoRowHeight=false idField="block_id" remoteSort="false" multiSort = "true"  sortOrder = "desc">
							<thead>
								<tr>
									<th data-options="field:'cbx2',checkbox:true"></th>
									<th data-options="field:'taxon_name',width:100,align:'center',sortable:true">Taxon</th>
									<th data-options="field:'chromosome_name',width:100,align:'center',sortable:true">Chromosome</th>
									<th data-options="field:'sequence_name',width:100,align:'center',sortable:true">Sequence</th>
									<th data-options="field:'block_name',width:100,align:'center',sortable:true">Block</th>
									<th data-options="field:'block_length',width:80,align:'center',sortable:true">length</th>
									<th data-options="field:'block_strand',width:80,align:'center',sortable:'true'">strand</th>
									<th data-options="field:'block_begin',width:80,align:'center',sortable:true">begin</th>
									<th data-options="field:'block_end',width:80,align:'center',sortable:true">end</th>
									<th data-options="field:'number_monomers',width:80,align:'center',sortable:true">Monomers</th>									
									
								</tr>
							</thead>
						</table>
						<script>
						$(function(){
							var dgb = $('#dgb').datagrid();
							dgb.datagrid('enableFilter', [{
								field:'block_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'block_begin',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'block_end',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								}]);
							});
						</script>
						<table id="dgf" class="easyui-datagrid" title="Monomers families" style="width:auto;height:auto" singleSelect = "false" collapsible = "true" url="/datagrid_families" method = "get" rownumbers = "true" pagination = "true" pageSize = "10" autoRowHeight = "false" idField = "family_id"  multiSort = "true" remoteSort = "false" sortOrder = "desc">
							<thead>
								<tr>
									<th data-options="field:'cbx3',checkbox:true"></th>
									<th data-options="field:'family_id',width:80,align:'center',sortable:true">Family id</th>
									<th data-options="field:'family_name',width:100,align:'center',sortable:true">Family Name</th>
									<th data-options="field:'sequence_id',width:80,align:'center',sortable:true">Sequence id</th>
								</tr>
							</thead>
						</table>
						<script>
						$(function(){
							var dgf = $('#dgf').datagrid();
							dgf.datagrid('enableFilter', [{
								field:'family_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'sequence_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								}]);
							});
						</script>					
						
					</div>
					<table id="dgm" class="easyui-datagrid" title="Monomer results" style="width:auto;height:auto" singleSelect = "false" collapsible = "true" url = "/datagrid_monomers" method = "get" rownumbers = "true" pagination = "true" pageSize = "10" autoRowHeight = "false" idField = "monomer_id"  multiSort = "true" remoteSort = "false" sortOrder = "desc">
							<thead>
								<tr>
									<th data-options="field:'cbx4',checkbox:true"></th>
									<th data-options="field:'taxon_name',width:30,align:'center',sortable:true">Taxon</th>
									<th data-options="field:'chromosome_name',width:80,align:'center',sortable:true">Chromosome</th>
									<th data-options="field:'sequence_name',width:80,align:'center',sortable:true">Sequence</th>
									<th data-options="field:'block_name',width:50,align:'center',sortable:true">Block</th>
									<th data-options="field:'monomer_name',width:80,align:'center',sortable:true">Monomer</th>
									<th data-options="field:'monomer_length',width:50,align:'center',sortable:true">length</th>
									<th data-options="field:'monomer_strand',width:80,align:'center',sortable:true">strand</th>
									<th data-options="field:'monomer_begin_sequence',width:80,align:'center',sortable:true">begin</th>
									<th data-options="field:'monomer_end_sequence',width:80,align:'center',sortable:true">end</th>													
								</tr>
							</thead>
						</table>
						<script>
						$(function(){
							var dgm = $('#dgm').datagrid();
							dgm.datagrid('enableFilter', [{
								field:'monomer_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'sequence_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'monomer_length',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'monomer_begin',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'monomer_end',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'block_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								}]);
							});
						</script>						
				</div>
			</div>		
		</div>		
		<script> 			
		$('#tt').tree({
			onCheck:function(){updateChromosomeAndTaxonSelection(this);}			
		});	
		 $('#dgs').datagrid({
			onCheck:function(){updateSequenceSelection(this);}
		});
		$('#dgs').datagrid({
			onUncheck:function(block_node){
				var sequence_dgb = this;
				_sequence_selection = $(sequence_dgb).datagrid('getChecked');
				console.log(_sequence_selection);
				var url_list = [];
				for(i in _sequence_selection){
						sid = _sequence_selection[i]['sequence_id'];
						console.log(sid)
						url_list.push(sid);
				}
				var dgb = $('#dgb').datagrid('load',{
					selection: url_list
				});
			}
		});

		$('#dgs').datagrid({
			onCheckAll:function(block_node){
				var sequence_dgb = this;
				var test = $(sequence_dgb).datagrid('getRows');
				console.log(test);
				var selection = $(sequence_dgb).datagrid('getData');
				console.log(selection['rows']);
				var url_list = [];
				var selectionAll = selection['rows'];
				for(i in selectionAll){
						sid = selectionAll[i]['sequence_id'];
						console.log(sid)
						url_list.push(sid);
				}
				var dgb = $('#dgb').datagrid('load',{
					selection: url_list
				});
			}
		});
		
		$('#dgs').datagrid({
			onUncheckAll:function(block_node){
				var sequence_dgb = this;
				var selection = $(sequence_dgb).datagrid('getChecked');
				console.log(selection);
				var url_list = [];
				for(i in selection){
						sid = selection[i]['sequence_id'];
						console.log(sid)
						url_list.push(sid);
				}
				var dgb = $('#dgb').datagrid('load',{
					selection: url_list
				});
			}
		});
		$('#dgs').datagrid({
			onLoadSuccess:function(block_node){
				var url_list = [];
				all_id = null;
				url_list.push(all_id);
				$('#dgb').datagrid('loadData',[]);
				var dgb = $('#dgb').datagrid('load',{
					selection: url_list
				});
			}
		});
		</script>
		
		<script> $('#dgb').datagrid({
			onCheck:function(family_node){
				var sequence_dgf = this;
				_block_selection = $(sequence_dgf).datagrid('getChecked');
				console.log(_block_selection);
				var url_list = [];
				for(i in _block_selection){
						sid = _block_selection[i]['block_id'];
						console.log(sid)
						url_list.push(sid);
				}
				var dgf = $('#dgf').datagrid('load',{
					//attention rien a voir avec la variable selection
					selection: url_list,
					search: _search_data
				});
				var dgm = $('#dgm').datagrid('load',{
					//attention rien a voir avec la variable selection
					selection: url_list
				});
			}
		});
		$('#dgb').datagrid({
			onUncheck:function(family_node){
				var sequence_dgf = this;
				_block_selection = $(sequence_dgf).datagrid('getChecked');
				console.log(_block_selection);
				var url_list = [];
				for(i in _block_selection){
						sid = _block_selection[i]['block_id'];
						console.log(sid)
						url_list.push(sid);
				}
				var dgf = $('#dgf').datagrid('load',{
					selection: url_list
				});
				var dgm = $('#dgm').datagrid('load',{
					selection: url_list
				});
				var ft = $('#ft').tree('loadData',{
					selection: url_list
				});
			}
		});

		$('#dgb').datagrid({
			onCheckAll:function(family_node){
				var sequence_dgf = this;
				var selection = $(sequence_dgf).datagrid('getData');
				var selectionAll = selection['rows'];
				console.log(selection);
				var url_list = [];
				for(i in selectionAll){
						sid = selectionAll[i]['block_id'];
						console.log(sid)
						url_list.push(sid);
				}
				var dgf = $('#dgf').datagrid('load',{
					selection: url_list
				});
				var dgm = $('#dgm').datagrid('load',{
					selection: url_list
				});
			}
		});
		
		$('#dgb').datagrid({
			onUncheckAll:function(family_node){
				var sequence_dgf = this;
				var selection = $(sequence_dgf).datagrid('getData');
				var selectionAll = selection['rows'];
				console.log(selection);
				var url_list = [];
				for(i in selectionAll){
						sid = selection[i]['block_id'];
						console.log(sid)
						url_list.push(sid);
				}
				var dgf = $('#dgf').datagrid('load',{
					selection: url_list
				});
				var dgm = $('#dgm').datagrid('load',{
					selection: url_list
				});
			}
		});

		//~ $('#bl').textbox({
			//~ onChange:function(parameter){
				//~ var tb_change = this;
				//~ var value_param = $(tb_change).textbox('getValue');
				//~ console.log(tb_change);
				//~ console.log(value_param);
				//~ var dgb = $('#dgb').datagrid('load',{
					//~ selection: url_list
				//~ });
			//~ }
		//~ });

		$('#dgb').datagrid({
			onLoadSuccess:function(block_node){
				var url_list = [];
				all_id = null;
				url_list.push(all_id);
				$('#dgm').datagrid('loadData',[]);
				$('#dgf').datagrid('loadData',[]);			
				var dgf = $('#dgf').datagrid('load',{
					selection: url_list
				});					
				var dgm = $('#dgm').datagrid('load',{
					selection: url_list
				});			
			}
		});
		</script>
		<script>
		//~ $('#dgm').datagrid({
			//~ onLoadSuccess:function(data){
				//~ var monomers_id = this;
				//~ all_data = $(monomers_id).datagrid('getData');
				//~ _monomer_selection = all_data['rows'];
				//~ console.log(_monomer_selection);
				//~ for(i in _monomer_selection){
						//~ mid = _monomer_selection[i];
						//~ _monomer_list.push(mid);
				//~ }
			//~ console.log(_monomer_list);
			//~ }
		//~ });					
		</script>
	</form>
{% endblock %}
