{% extends "base.html" %}
{% block title %}Monomer search{% endblock %}
{% block head %}
{% endblock %}


{% block content %}

    
    <h3>Output format options</h3>
     <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Monomers and blocks selected</div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                <p>
                {{ monomers }} / {{ monomerstot}}  Monomers 
                </p>
                <p>
                {{ blocks }} / {{ blockstot }} Blocks
                </p>
                </div>
           </div><!-- end panel-body -->
        </div><!-- end panel -->


    <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Filters selected</div>
            </div>
                <div class="panel-body">
                    <div class="form-group">
					<h4>Phase selected</h4>
                        <OPTION > {{phase}} </OPTION>
                    <h4>Chromosomes selected</h4>
                        {% for i in chromosome_name_show %}
                        <OPTION > {{i}} </OPTION>
                            {% endfor %}
                    <h4>Sequences selected</h4>
                        {% for i in sequence_name_show %}
                        <OPTION > {{i}} </OPTION>
                            {% endfor %}
                    <h4>Families selected</h4>
                        {% for i in family_name_show %}
                        <OPTION > {{i}} </OPTION>
                            {% endfor %}
                            
                    <h4>Base begin enter</h4>
                        {{base_begin}}
                        
                    <h4>Base end enter</h4>
                        {{base_end}}
                        
                    <h4>Distance from centromer enter</h4>
                        {{distance_centro}}
                    
                    <h4>Block_name enter</h4>
                        {% for i in block_name %}
                        <OPTION > {{i}} </OPTION>
                            {% endfor %}
                        
                </div>
           </div><!-- end panel-body -->
    </div><!-- end panel -->
    
<script language="javascript">
jQuery('#rm').click(function(){
  $(this).data('clicked', true);
});
jQuery('#rb').click(function(){
  $(this).data('clicked', true);
});
function Choose(){
	if(jQuery('#rm').data('clicked')){
		alert("coucou");
		console.log("qfdsg");
		document.monomers_blocks.action="/results/monomers";
		<!--document.chromosomes.submit();-->
	}
	else if(jQuery('#rb').data('clicked')){
		alert("blabla");
		console.log("dgfsdf");
		document.monomers_blocks.action="/results/blocks";
		<!--document.chromosomes.submit();-->
	}
}
</script>

<form name="monomers_blocks" method="POST" class="form-horizontal" onsubmit="return Choose();">
    <input class="btn btn-primary btn-lg" type="submit" value="retrieve_monomers" name="retrieve_monomers" id="rm" />
    <input class="btn btn-primary btn-lg" type="submit" value="retrieve_blocks" name="retrieve_blocks" id="rb" />
    <input type="hidden" name="monomers_list_encode" value= "{{monomers_list_encode}}" />
    <input type="hidden" name="blocks_list_encode" value= "{{blocks_list_encode}}" />
    <input type="hidden" name="monomer_phase" value= "{{phase}}" />
</form>

  

{% endblock %}
