{% extends "base.html" %}

{% block title %}Caryotypes{% endblock %}

{% block head %}
<script>
//~ svg_file =
//~ function encode_as_img_and_link(){
 //~ // Add some critical information
 //~ $("svg").attr({ version: '1.1' , xmlns:"http://www.w3.org/2000/svg"});
//~ 
 //~ var svg = {{svg}};
 //~ var b64 = Base64.encode(svg); // or use btoa if supported
//~ 
 //~ // Works in recent Webkit(Chrome)
 //~ $("body").append($("<img src='data:image/svg+xml;base64,\n"+b64+"' alt='file.svg'/>"));
//~ 
 //~ // Works in Firefox 3.6 and Webit and possibly any browser which supports the data-uri
 //~ $("body").append($("<a href-lang='image/svg+xml' href='data:image/svg+xml;base64,\n"+b64+"' title='file.svg'>Download</a>"));
//~ } 
</script>
{% endblock %}

{% block content %}
<script>
//~ function ajaxFileDownload(url, data) {
    //~ var iframeId = "uniqueIFrameId";     // Change this to fit your code
    //~ var iframe = $("#" + iframeId); 

    // Remove old iframe if there
    //~ if(iframe) { 
        //~ iframe.remove(); 
    //~ }

    // Create new iframe 
    //~ iframe = $('<iframe src=""' + url + '"" name="' + iframeId + '" id="' + iframeId + '"></iframe>')
        //~ .appendTo(document.body)
        //~ .hide(); 

    // Create input
    //~ var input = '<input type="hidden" name="data" value="' + encodeURIComponent({{svg}}) + '" />'; 

    // Create form to send request 
    //~ $('<form action="' + url + '" method="' + 'POST' + '" target="' + iframeId + '">' + input + '</form>')
        //~ .appendTo(document.body)
        //~ .submit()
        //~ .remove();
//~ }

</script>
<img src='' alt="Caryotype">

{{ svg | safe }}

{% endblock %}

