{% extends "base.html" %}

{% block title %}Help and documentation{% endblock %}

{% block head %}
{% endblock %}


{% block content %}

<div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Help and documentation about the use of this application</div>
        </div>
        <div class="panel-body">

<h3>Summary</h3>
<ul>
    <li><a href="#monomer_names">Monomer name</a></li>
    <li><a href="#output_format">Output Format</a></li>
    <li><a href="#filers_selection">Filters selection</a></li>
    <li><a href="#about_data">About the Datas</a></li>
    <li><a href="#new_search">New Search</a></li>
    
    
    
</ul>


<h3><a name="about_data">About the Datas</a></h3>
<p>               
The search possibilities of this web application are based on the datas issue from
GeneBank and from the work of the research unity UMR503 of the
"Muséum national d'Histoire Naturelle de Paris".
</p>
<img id="schema1" src="/static/pictures/schema_all_final.png" alt="schema"/>
<p>
The &alpha;-satellites data of the AlphasatDB may be structured into different levels : taxon information, 
chromosome information, block information and monomer information.
</p>
<p>
<img id="schema2" src="/static/pictures/phase_2.png" alt="phase"/>
</p>
<p>
The use of this application is based for the research of the &alpha;-satellites sequences.
You have the possibilities to search all the monomers/blocks in one or several
chromosomes for one or several taxons.
You can refine the research to indicate the positions where you want to find
monomers, or search by family name (the families are based on the Chepelev research).
</p> 

<h3><a name="new_search">New Search</a></h3>
<h4>Step 1 : select your taxons and chromosomes</h4>
<p>
The first step is to choose the Taxons in which you want to search the monomers.
You can select one or several Taxons. If you don't select a taxon, none will be select by default.
The Taxons name are based on the GeneBank glossary. After this selection, 
you can select a particular chromosome from one or several taxons.
</p>
<h4>Step 2 : select your repeats</h4>
<p>
The second step is optional, you can make a more precise selection of your data. You can choose the nucleotidic sequences of the chromosomes
of your taxons, the repeat blocks oh these sequences, the monomer's families and at last you can select the monomers you can study.
</p>
<h4>Step 3 : select your filters</h4>
<p>
This third step is also optional, you can apply filters on your block selection or on your monomer selection. You can filter blocks and monomers by nucleotidic length.
The syntax can be one value, a complete or incomplete range of values : eg, 173, 170:173 or 170: or :173.
Monomers may be also filter by nucleotidic position with the same synta as length : eg, 120000 or 120000:150000 or 120000: or :150000.
It's possible to change the phase of nucleotidic sequences of monomers. By default, the phase is equal to 1. 
But you can modify the phase to shift monomer sequences in your fasta file.
</p>
<h4>Step 4 : enjoy your results</h4>
<p>
The final step allow to choose the format of your results. If you select the csv format, you can choose the separator of values.
If you select the fasta format, you can download the file in fasta or in archive format fasta.gzip.
It's possible to change the monomer name with other monomer information and change the name separator.
</p>	
<!--
<h3><a name="filters_selection">Filters selection</a></h3>
<p>Here you can select the differents filters options for monomers and blocks.</p>

<h4>Selection by Chromosomes name</h4>
<p>First, you have to select in which chromosomes you want monomers or blocks. By default, all chromosomes
will be select.</p>

<h4>Base pair begin and end</h4>
<p>If you want, you can precise beetwen which base pair in the selected chromosomes you want 
to select monomers and blocks. You can indicate pair begin or pair end or both or none.</p>

<h4>Distance from centromer</h4>
<p>This possibility is not available for all taxons and chromosomes. If the information is available on GeneBank we will update 
chromosome's informations here. With this field you can precise from what distance from the end and the begin of the centromer
the application needs to search. <br/>
Exemple : distance from centromer : 1000
<pre>begin - 1000 | centromer | end + 1000</pre>
</p>

<h4>Family selection</h4>
<p>
The families names are issued from the Alexandrov's classification. If you don't choose a family name
nothing will be select by default. <br/>
If you choose one or several families names, the union with the results of the other filters will be do.
</p>
 
<h4>Block name selection</h4>
<p>
This section is particular. You can select monomers' blocks or blocks directly by their name but you can only enter a name
from the database. So you need to know exactly what you looking for. For more informations about this section, please contact 
Loic Ponger AT loic.ponger@mnhn.fr <br/>
If you want to enter several blocks names you have to skip a line without nothing a the end of the block name.


<img src="/static/block_name.png" />
</p>

<h4>Filters selection</h4>
<p>
This section recap all the filters you selected and the number of chromosomes and monomers that represent.
You can go back if you want to modifiy your choices.<br/>
If you want to get blocks please select "Retrieve blocks", for the monomers, please select "Retrieve monomers".
</p>


<h3><a name="output_format">Output Format</a></h3>

<h4>Format name</h4>
<p>
You have the choice for the name you want to have in your output file. You can choose to keep
the name from the database :
<pre>NT_011630.14_166202_189320_1:0-118</pre>
</p>
<p>
Or obtain a name chr(name)_begin_end_strand. The difference is the position. 
Here they are absolutes in relation to the chromosome.
<pre>NT_011630.14_166202_189439_1</pre>
</p>

<p>
Or, you can choose to have a simple name with a simple numbering :
<pre>s1 ......
s2 ......</pre>
</p>

<h4>Output format</h4>
<p>
You have two possibilites in this section. You can choose to get a csv format with different separtor or
get a fasta format (gzip or only fasta).
</p>
-->

<h3><a name="monomer_names">Monomer name</a></h3>
<p>
For this database, we chose to command the monomer name nomenclature . The name is broken down as follows :
<pre>NT_011630.14_166202_189320_1:0-118

ChromosomeName_blockbegin_blockend_strand:monomerbegin_monomerend</pre>

It's important to notice the monomer begin and end are relative to the position on the block. But in your output file you
will obtain the absolute position of the monomer on the chromosome.
</p>

        </div><!-- end panel-body -->
</div><!-- end panel -->

{% endblock %}
