<form id="ff" url="/test_form" "data-options="ajax:true" method="post" enctype="multipart/form-data" action="/test_form">
<table class="table1">
<tr><td colspan="2"><b>Block options</b></td></tr>
<tr>
<td>Length</td>
	<td><input id="block_length" name="block_length" class="easyui-textbox" data-options="iconCls:'icon-search',
	onChange: function(value){
	updateSearchData('block_length',value);
}" style="width:120px"></td>
</tr>
<tr>
	<td colspan="2">eg, 171 or 170:173 or 170: or :173</td>
</tr>
</table>


<table class="table1">
<tr><td colspan="2"><b>Monomer options</b></td></tr>
<td>Length </td>
	<td><input id="monomer_length" name="monomer_length" class="easyui-textbox" style="width:120px;" data-options="iconCls:'icon-search',
	onChange: function(value){
	updateSearchData('monomer_length',value);
}"></td>
</tr>
<tr>
	<td colspan="2">eg, 171 or 170:173 or 170: or :173</td>
</tr>
<tr>
<td>Begin-end </td>
	<td><input id="monomer_begin_end" name="monomer_begin_end" class="easyui-textbox" style="width:120px;" data-options="iconCls:'icon-search',
	onChange: function(value){
	updateSearchData('monomer_begin_end',value);
}"></td>
</tr>
<tr>
	<td colspan="2">eg, 120000 or 120000:150000 or 120000: or :150000</td>
</tr>
<!--<td><input type="submit" value="Submit",></input></td>-->
<tr>
<td>Pattern search </td>
	<td><input id="monomer_word" name="monomer_word" class="easyui-textbox" style="width:120px;" data-options="iconCls:'icon-search',
	onChange: function(value){
	updateSearchData('monomer_word',value);
}"></td>
</tr>
<tr>
<td>Phase </td>
	<td><input id="phase_option" name="phase_option" class="easyui-textbox" style="width:120px;" value='1' data-options="iconCls:'icon-search',	
	onChange: function(value){
	updateSearchData('phase_option',value);
}"></td>
</tr>
<tr>
	<td colspan="2">By default phase = 1</td>
</tr>
</table>
</form>
<script type="text/javascript">
	console.log(document.getElementById('phase_option').value);
	function updateSearchData(key,value){		
		_search_data[key] = value;
		//~ document.getElementById('monomer_phase').value = _search_data['phase'];
		//~ console.log(document.getElementById('monomer_phase').value)
		refreshBlock();
	}
		
//~ //$(function(){
	//~ $('#ff').form({
		//~ onSubmit:function(){
				//~ console.log($(this).form().serializeArray());
				//~ console.log($(this).form().serialize());
				//~ test = $(this).form().serialize();
				//~ console.log(test);
		//~ }
		//url:'/test_form',
		//~ ,success:function(data){
			//~ console.log("toto");

			//var data = eval('(' + data + ')');
			//console.log(data);
			//$.messager.alert('Info', data, 'info');
			//$.messager.alert('Info', data, 'info');
			//~ test = this;
			//~ console.log(this);
			//~ block_length = $('#block_length').val();
			//~ phase = document.getElementById('phase').value;
			//~ monomer_length = document.getElementById('monomer_length').value;
			//~ monomer_begin_end = document.getElementById('monomer_begin_end').value;
			//console.log(block_length);
			//~ var url_data = "/test_form?table="+JSON.stringify(t)+"?selection="+JSON.stringify(url_list);
			//~ $('#ff').form({
				//~ url:url_data
			//~ });
		//~ }
	//~ });
//});
</script>


