#options1
{	
	float:left;
    width: 200px;
	/*position:relative;	
	top: 15px;
	left: 150px;*/
	display:inline;
	border-width: 1px;
	border-style: solid;
	border-color: #95B8E7;
}
#options2
{
	float: left;
	width: 200px;
	/*position:relative;
	left: -100x;*/
	display:inline;
	border-width: 1px;
	border-style: solid;
	border-color: #95B8E7;

}
#options3
{
	float:left;
/*
	width: 200px;
*/
	/*position:relative;
	left: -100x;*/
/*
	display:inline;
	border-width: 1px;
	border-style: solid;
	border-color: #95B8E7;
*/

}
#options4
{
	width: 200px;
	/*position:relative;
	left: -100x;*/
	display:inline;
}

.table1 {
border:2px solid #999;
}
.table1 td {
width:200px;
font-size:small;
height:30px;
border:1px solid #666;
text-align:center;
margin-bottom:50px;
}
.table1 tr:first-child{
color : #0E2D5F;
background-color: #E0ECFF;
}

input[type=radio] {
    display:none;
}
 
input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	width:170px;
}
 
input[type=radio]:checked + label {
   background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	background-color:#DFDFDF;
	/*width:100px;*/
}

/*Submit button*/
.submit
    {
        padding:10px 20px;

        font:bold 1em Arial; color:#ffffff;
        text-shadow: 0px 1px 1px #000000;
        filter: dropshadow(color=#000000, offx=0, offy=1);

        background: rgb(106,155,203); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(106,155,203,1) 0%, rgba(61,125,188,1) 49%, rgba(47,115,182,1) 50%, rgba(31,105,177,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(106,155,203,1)), color-stop(49%,rgba(61,125,188,1)), color-stop(50%,rgba(47,115,182,1)), color-stop(100%,rgba(31,105,177,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(106,155,203,1) 0%,rgba(61,125,188,1) 49%,rgba(47,115,182,1) 50%,rgba(31,105,177,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(106,155,203,1) 0%,rgba(61,125,188,1) 49%,rgba(47,115,182,1) 50%,rgba(31,105,177,1) 100%); /* Opera11.10+ */
        background: -ms-linear-gradient(top, rgba(106,155,203,1) 0%,rgba(61,125,188,1) 49%,rgba(47,115,182,1) 50%,rgba(31,105,177,1) 100%); /* IE10+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a9bcb', endColorstr='#1f69b1',GradientType=0 ); /* IE6-9 */
        background: linear-gradient(top, rgba(106,155,203,1) 0%,rgba(61,125,188,1) 49%,rgba(47,115,182,1) 50%,rgba(31,105,177,1) 100%); /* W3C */

        border:2px solid #cccccc;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
		margin-top:50px;
		margin-left:50px;
    }

.choice
	{
		margin-top:5px;
		margin-left:4px;
		border-color: #E0ECFF;		
	}
.title
	{
		background-color: #E0ECFF;
		text-align: center;
		font-size:small;
		color : #0E2D5F;
		width:200px;

	}

.subtitle
	{
		background-color: #E0ECFF;
		text-align: center;
		font-size:small;
		color : #0E2D5F;
		width:200px;
		margin-left:-4px;
		margin-bottom:3px;

	}
		
.option
	{
		margin-top:10px;
		margin-left:100px;
		/*width:100px;*/
	}






.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:8px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
	float: right;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}

.title_site {
text-align: center;
}

.main_title {
color: rgb(126, 185, 217);
font-size: 40px;
background-color: rgb(255, 255, 255);
text-shadow: rgb(255, 255, 255) 4px 4px 2px;
}

#img1 {

float: left;

}

#div1 {

float: left;

}
#div2 {

float: left;

}

.tran {
border: 0px;
}
